:root {
    --fundo-botao-loja: #0000004b;
    --fundo: #000000ad;
    --texto: #ffffff;
}


.price {
    text-align:right;
    font-size: 36px;
    position: absolute;
  }

.price span {
    color: #f1730c;
}

p, h1, h2, h3, h4, h5, span{
    color: var(--texto);
}

body {
    margin: 0px;
    background: var(--fundo);
    font-family: sans-serif;
}

#principal {
    padding: 20px;
}

.botao-lojas {
    margin: 20px;
    width: 200px;
    height: 200px;
    background-color: var(--fundo-botao-loja);
    border-radius: 50px 0px;
    box-shadow: 4px 8px #00000079;
    grid-row: 1;
    grid-column: auto;
 
}

.botao-lojas:hover {
    box-shadow: 0px 0px #00000079;
    transition: 0.3s;
}

.botao-lojas-selecionado {
    background-color: black;
    box-shadow: 0px 0px;
}



.btn-img {
    background-size: 150px 130px;
    background-repeat: no-repeat;
    background-position: center;
}

.steam {
    background-image: url(../img/steam-white-logo.png);
}

.ubisoft {
    background-image: url(../img/ubisoft-white-logo.png);
}

.epic {
    background-image: url(../img/epic-white-logo.png);
}

.gog {
    background-image: url(../img/gog-white-logo.png);
}

button {
    height: 35px;
    font-size: 20px;
    border-radius: 12px;
    background: #eb7a19;
    color: white;
    border: solid 0px;
    width: 160px;
    box-shadow: 5px 5px #00000055;
    margin-bottom: 40px;
}

button:hover {
    background: #c95e01;
    box-shadow: 0px 0px #00000055;
    transition: 0.2s;
}

.btn {
    text-align: center;
}

#ordem {
    height: 44px;
    width: 70%;
    background: #0000004b;
    color: #fff;
    border-radius: 20px;
    text-align-last: center;
    font-size: 20px;
}

#lojas{
    display: grid;
    place-items: center;
    place-content: center;
    overflow: auto;
    grid-auto-columns: max-content;
    grid-template-rows: 1fr;
    width: 100%;
    justify-content: space-evenly;
}

#filtro {
    margin: 16px;
}

.card {
    box-shadow: 0 4px 8px 0 #03030333;
    transition: 0.3s;
    width: 340px;
    height: 670px;
    background: #00000066;
    margin: 40px;
  }

  .card.steam {
    width: 340px;
    height: 370px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 #03030333;
    margin: 30px 50px;
  }
  
  .container {
    padding: 2px 16px;
  }

  .card .capa{
      width: 100%;
  }

  #conteudo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  stroke {
    text-decoration: line-through;
    font-size: 26px;
    color: #bbb4b4;
  }
  

  .container .titulo {
      margin-top: 4px;
      font-size: 26px;
  }

  .container .versao {
    margin-top: -10px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.loading {
    background-color: #0000009e;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-right: 10px solid #3498db;
    border-bottom: 10px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin-left: calc(50% - 40px);
    margin-top: 25%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  #loja-selecionada {
      margin: 20px;
  }

  .ambiente-dev {
    width: 225px;
    height: 20px;
    background-color: #ff0000;
    transform: rotate(310deg);
    position: absolute;
    margin-top: 34px;
    margin-left: -75px;
    text-align: -webkit-center;
    color: #fff;
    display: none;
}

.voltar-topo {
    width: 60px;
    height: 60px;
    background-color: #eb7a19;
    border-radius: 45px;
    right: 10px;
    bottom: 10px;
    position: fixed;
    margin: -70px;
}

.voltar-topo:hover {
    background: #c95e01;
    box-shadow: 0px 0px #00000055;
    transition: 0.2s;
}

.voltar-topo img {
    width: 30px;
    height: 30px;
}

.voltar-topo p {
    text-align: center;
}



/* CELULAR */
@media only screen and (max-width: 460px) {
    #principal {
        padding: 0px;
    }

    #lojas {
        place-content: unset;
    }
   
    .botao-lojas {
        margin: 20px;
        width: 100px;
        height: 100px;
    }

    .ambiente-dev {
        width: 159px;
        margin-left: -42px;
    }

    
.card {
    box-shadow: 0 4px 8px 0 #03030333;
    transition: 0.3s;
    width: 340px;
    height: 570px;
    background: #00000066;
    margin: 40px;
  }

    .card.steam {
        width: 280px;
        height: 300px;
    }

    .btn-img {
        background-size: 50px 50px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 30px 0px;
    }

    stroke {
        font-size: 16px;
      }
      
      .price {
        font-size: 26px;
      }
    
      .container .titulo {
          font-size: 20px;
      }
    
      .container .versao {
        font-size: 18px;
    }

    .loader {
        margin-top: 70%;
    }
}